<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="gotoStart()">
    <mat-icon>home</mat-icon>
    <span>Start</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>logout</span>
  </button>
  <button mat-menu-item (click)="gotoLogin()">
    <mat-icon>input</mat-icon>
    <span>login</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
